<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="bg-black flex h-screen text-white">
  <header class="h-full w-1/8 bg-green-500 pt-5">
    <p class="text-white text-4xl p-2 mb-32">getBlogged</p>

    <nav class="grid gap-16 text-white text-xl m-2">
      <a href="/register">Home</a>
      <a href="/login">Dashboard</a>
      <a href="/login">Logout</a>
    </nav>
  </header>

{{{body}}}
</body>

</html>
